body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: rgb(208, 230, 249);
    color: rgb(0, 2, 12);
    padding: 10px;
    text-align: center;
}

main {
  padding: 20px;
}

.title{
    margin:0;
}

.list{
    list-style:disc;
    display: flex;
    gap: 40px;
    padding-left: 14px;
}

.list li{
    cursor: pointer;
     margin: 0 15px;
    color: rgb(29, 64, 170);
}

.product-card {
  border: 1px solid #d0cece;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #df0c0c;
}